VITE_SUPABASE_URL=https://amruoygwuzgsghswcfyo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtcnVveWd3dXpnc2doc3djZnlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MTUyNjIsImV4cCI6MjA5NDQ5MTI2Mn0.lvJuFjcN1POVTa6nDilPquZOpWXQh-7Lpj2wesRG12o
